<section id="brands" class='p-brands'>
  <h2 class='c-head c-head-spS'>ロゴ画像</h2>
  <p class='p-brands_text'>
    三宮.devにはメンバーが作成してくれた素敵なロゴ画像をダウンロードできます。<br class="u-pc">
    敬意を持って大切にご利用ください。
  </p>
  <a href='<%=path%>assets/logos.zip' target="_blank" class='c-btn'>ダウンロード</a>
</section>
