<section id="contact" class='p-contact'>
  <h2 class='c-head c-head-spS'>三宮.devと繋がる</h2>
  <p class='p-contact_text'>
    三宮.devではslackをはじめとしてさまざまなモダンなコミュニケーションツールを運用しています。<br class="u-pc">
    下記よりいずれかより三宮.devと繋がることができますので、お気軽にどうぞ！
  </p>
  <nav class='p-contact_btns'>
    <a href='' class="p-contact_btns_btn discord">
      <img src='<%=path%>assets/img/icon_discord.svg' alt='Discord'>
    </a>
    <a href='' class="p-contact_btns_btn slack">
      <img src='<%=path%>assets/img/icon_slack.svg' alt='Slack'>
    </a>
    <a href='' class="p-contact_btns_btn connpass">
      <img src='<%=path%>assets/img/icon_connpass.svg' alt='connpass'>
    </a>
    <a href='' class="p-contact_btns_btn scrapbox">
      <img src='<%=path%>assets/img/icon_scrap.svg' alt='Scrapbox'>
    </a>
  </nav>
</section>