<section id="contact" class='p-contact'>
  <h2 class='c-head c-head-spS'>三宮.devと繋がる</h2>
  <p class='p-contact_text'>
    三宮.devではslackをはじめとしてさまざまなモダンなコミュニケーションツールを運用しています。<br class="u-pc">
    下記よりいずれかより三宮.devと繋がることができますので、お気軽にどうぞ！
  </p>
  <nav class='p-contact_btns'>
    <a href='https://discord.gg/P6VrTUt' class="p-contact_btns_btn discord" target="_blank">
      <img src='<%=path%>assets/img/icon_discord.svg' alt='Discord'>
    </a>
    <a href='https://join.slack.com/t/kobe-sannomiya-dev/shared_invite/zt-g45oc103-sIqIL~Lu~TVz~G38iADyDA'
      class="p-contact_btns_btn slack" target="_blank">
      <img src='<%=path%>assets/img/icon_slack.svg' alt='Slack'>
    </a>
    <a href='https://kobe-sannomiya-dev.connpass.com/' class="p-contact_btns_btn connpass" target="_blank">
      <img src='<%=path%>assets/img/icon_connpass.svg' alt='connpass'>
    </a>
    <a href='https://scrapbox.io/sannomiya-dev/' class="p-contact_btns_btn scrapbox" target="_blank">
      <img src='<%=path%>assets/img/icon_scrap.svg' alt='Scrapbox'>
    </a>
  </nav>
</section>