<div class='p-concept'>
  <div class="p-concept_inner">
    <ul class='p-concept_voices'>
      <li class="p-concept_voice"><span>神戸に住んでるITエンジニアで繋がりがほしい</span></li>
      <li class="p-concept_voice"><span>気軽に業界の仲間を増やしたい</span></li>
      <li class="p-concept_voice"><span>一緒に勉強する場を見つけたい</span></li>
    </ul>
    <p class='p-concept_copy'>
      そんな思いから2019年より<br class="u-pc">もともとクローズだったコミュニティを<br class="u-pc">オープン化しました。
    </p>
  </div>
</div>