<section id="event" class='p-event'>
  <h2 class='c-head'>活動内容</h2>
  <ul class='p-event_lists'>
    <li class='p-event_list'>
      <div class='p-event_list_inner first'>
        <h3 class='p-event_list_title first'>LT大会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2022/10/15（土） 14:00〜</span><span class='title'>【三宮.dev オンライン】VR開催！4周年記念LT大会</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2022/04/27（水） 19:30〜</span><span class='title'>【三宮.dev & KELab 共催】教えて！おすすめWebサービスLT大会</span>
        </p>
      </div>
    </li>
    <li class='p-event_list'>
      <div class='p-event_list_inner second'>
        <h3 class='p-event_list_title second'>もくもく会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2022/12/17（土） 14:00〜</span><span class='title twoRow'>【三宮.dev】今年を〆るもくもく会</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2022/06/25（土） 14:00〜</span><span class='title'>【三宮.dev ＆ KELab 共催】もくもく会</span>
        </p>
      </div>
    </li>
    <li class='p-event_list'>
      <div class='p-event_list_inner third'>
        <h3 class='p-event_list_title third'>勉強会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2023/02/25（土） 14:00〜</span><span class='title'>【オフライン開催】Astroハンズオン</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2022/07/29（金） 19:00〜</span><span class='title'>【三宮.dev & DEP. 共催】ドローンビジネスの最前線とドローンの基礎</span>
        </p>
      </div>
    </li>
    <li class='p-event_list'>
      <div class='p-event_list_inner fourth'>
        <h3 class='p-event_list_title fourth'>その他交流会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2023/03/04（土） 13:00〜</span><span class='title'>ごくごく会@Hack.BAR</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2022/09/18（日） 14:00〜</span><span class='title'>【三宮.dev オンライン】語り合おう！スクラム開発雑談会！</span>
        </p>
      </div>
    </li>
  </ul>
</section>