<section id="event" class='p-event'>
  <h2 class='c-head'>活動内容</h2>
  <ul class='p-event_lists'>
    <li class='p-event_list'>
      <div class='p-event_list_inner first'>
        <h3 class='p-event_list_title first'>LT大会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2021/08/21（土） 14:00〜</span><span class='title'>【三宮.dev】アイデアだけでもOK！個人開発（成果物 or
            アイデア）LT大会</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2020/10/24（土） 14:00〜</span><span class='title'>【三宮.dev
            オンライン】活動2周年記念LT大会</span>
        </p>
      </div>
    </li>
    <li class='p-event_list'>
      <div class='p-event_list_inner second'>
        <h3 class='p-event_list_title second'>もくもく会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2021/10/20（水） 06:00〜（毎週水曜開催）</span><span class='title twoRow'>【三宮.dev
            オンライン】リモート朝活もくもく会</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2020/08/22（土） 14:00〜</span><span class='title'>【三宮.dev
            オンライン】ポモドーロ・テクニックもくもく会</span>
        </p>
      </div>
    </li>
    <li class='p-event_list'>
      <div class='p-event_list_inner third'>
        <h3 class='p-event_list_title third'>勉強会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2021/07/31（土） 14:00〜</span><span class='title'>【三宮.dev
            オンライン】最近話題のアイツ！Flutterハンズオン</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2020/12/19（土） 17:30〜</span><span class='title'>【三宮.dev】Denoハンズオン</span>
        </p>
      </div>
    </li>
    <li class='p-event_list'>
      <div class='p-event_list_inner fourth'>
        <h3 class='p-event_list_title fourth'>その他交流会(活動周年記念など)</h3>
        <p class='p-event_list_info'>
          <span class='date'>2021/10/16（土） 14:00〜</span><span class='title'>【三宮.dev
            オンライン】３周年記念交流会</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2021/06/04（金） 19:00〜</span><span class='title'>【三宮.dev
            オンライン】ごくごく会</span>
        </p>
      </div>
    </li>
  </ul>
</section>