<section id="event" class='p-event'>
  <h2 class='c-head'>活動内容</h2>
  <ul class='p-event_lists'>
    <li class='p-event_list'>
      <div class='p-event_list_inner first'>
        <h3 class='p-event_list_title first'>LT大会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2024/12/14（土） 14:00〜</span><span class='title'>今年の振り返りと来年の抱負LT大会</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2024/11/09（土） 14:00〜</span><span class='title'>LT大会 with カメラマン</span>
        </p>
      </div>
    </li>
    <li class='p-event_list'>
      <div class='p-event_list_inner second'>
        <h3 class='p-event_list_title second'>もくもく会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2025/07/20（日） 14:00〜</span><span class='title twoRow'>もくもく会</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2025/05/25（日） 14:00〜</span><span class='title'>もくもく会</span>
        </p>
      </div>
    </li>
    <li class='p-event_list'>
      <div class='p-event_list_inner third'>
        <h3 class='p-event_list_title third'>勉強会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2025/04/20（日） 14:00〜</span><span class='title'>もっと理解するFigmaハンズオン</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2025/03/20（木） 14:00〜</span><span class='title'>【三宮.dev x Digeon】AIエージェントハンズオン</span>
        </p>
      </div>
    </li>
    <li class='p-event_list'>
      <div class='p-event_list_inner fourth'>
        <h3 class='p-event_list_title fourth'>その他交流会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2025/06/22（日） 14:00〜</span><span class='title'>八宮巡りとOSM with 諸国・浪漫</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2025/03/15（土） 12:30〜</span><span class='title'>開発合宿＠光明院 with みやこでIT</span>
        </p>
      </div>
    </li>
  </ul>
</section>
