<section id="event" class='p-event'>
  <h2 class='c-head'>活動内容</h2>
  <ul class='p-event_lists'>
    <li class='p-event_list'>
      <div class='p-event_list_inner first'>
        <h3 class='p-event_list_title first'>LT大会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2023/12/10（日） 14:00〜</span><span class='title'>今年を振り返ろう！LT大会</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2023/07/22（土） 14:00〜</span><span class='title'>こんなことやってみましたLT会（テーマフリー）</span>
        </p>
      </div>
    </li>
    <li class='p-event_list'>
      <div class='p-event_list_inner second'>
        <h3 class='p-event_list_title second'>もくもく会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2024/02/17（土） 14:00〜</span><span class='title twoRow'>もくもく会</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2024/01/14（日） 14:00〜</span><span class='title'>新年もくもく会</span>
        </p>
      </div>
    </li>
    <li class='p-event_list'>
      <div class='p-event_list_inner third'>
        <h3 class='p-event_list_title third'>勉強会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2024/03/17（日） 19:00〜</span><span class='title'>【オンライン】mswとstorybookで始めるフロントエンドテスト</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2023/04/26（水） 19:00〜</span><span class='title'>【三宮.dev オンライン】Webデザインのトレンドを追うLT会</span>
        </p>
      </div>
    </li>
    <li class='p-event_list'>
      <div class='p-event_list_inner fourth'>
        <h3 class='p-event_list_title fourth'>その他交流会</h3>
        <p class='p-event_list_info'>
          <span class='date'>2024/04/20（土） 14:00〜</span><span class='title'>【ごくごく会】細かすぎて伝わらないLT選手権@Hack.BAR</span>
        </p>
        <p class='p-event_list_info'>
          <span class='date'>2023/10/14（土） 12:00〜</span><span class='title'>三宮.dev 活動5周年パーティー</span>
        </p>
      </div>
    </li>
  </ul>
</section>