<section id="join" class='p-join'>
  <h2 class='c-head c-head-spS'>参加して欲しい人</h2>
  <p class='p-join_reco first'>神戸市内はもちろん、神戸市外からの参加も大歓迎！</p>
  <p class='p-join_reco second'>フラットなコミュニティなので、ベテランも初心者、技術レベルを問いません！</p>

  <ul class='p-join_lists'>
    <li class='p-join_list'>
      <figure class='p-join_list_icon'>
        <img src='<%=path%>assets/img/fig_join1.svg' alt=''>
      </figure>
      <p class="p-join_list_title first">プログラムを書くのが<br>好きな方</p>
    </li>
    <li class='p-join_list'>
      <figure class='p-join_list_icon'>
        <img src='<%=path%>assets/img/fig_join2.svg' alt=''>
      </figure>
      <p class="p-join_list_title second">ITなどの技術が<br>好きな方</p>
    </li>
    <li class='p-join_list'>
      <figure class='p-join_list_icon'>
        <img src='<%=path%>assets/img/fig_join3.svg' alt=''>
      </figure>
      <p class="p-join_list_title third">デザイン周りを携わる方も<br>気軽に参加可能！</p>
    </li>
  </ul>
  <p class='p-join_note'>
    <em class='title'>＜これまでコミュニティに参加している方の属性＞</em>
    <span class='text'>Webエンジニア、AIエンジニア、SES、デザイナー、先生、製造業などなど</span>
  </p>
</section>
