<article class='l-column p-leader'>
  <h3 class='l-column_title'>主催者はこんな人です</h3>
  <div class='p-leader_detail'>
    <img src='<%=path%>assets/img/fig_leader.png' alt='' class="p-leader_detail_thumb">
    <div class="p-leader_detail_info">
      <div class="p-leader_detail_meta">
        <h4 class="name">Tesao</h4>
        <a href='https://twitter.com/tettyanman' class='sns' target="_blank">
          <img src='<%=path%>assets/img/icon_twitter.svg' alt='Twitter'>
        </a>
        <a href='https://github.com/tessai9' class='sns' target="_blank">
          <img src='<%=path%>assets/img/icon_github.svg' alt='github'>
        </a>
      </div>
      <p class="p-leader_detail_text">
        就職の関係で神戸に住みはじめ、そのまま神戸が大好きになってしまいました！
        普段はスタートアップでエンジニアをしており、仕事やプライベートでは主にWeb系まわりの技術を使うことが多いですが、基本的にどんな技術も好きです！
        一緒に色んなことを勉強していきましょう！
      </p>
    </div>
  </div>
</article>
