<div class='p-request'>
  <article class="l-column p-inquire">
    <h3 class='l-column_title'>企画募集中！</h3>
    <p class='p-inquire_text'>
      三宮.devでは、さまざまな技術を触れることができるので、「こんな勉強会を開催していほしい！」「こんなハンズオンをやりたい！」などを常時募集中です！参加方法は簡単で、下記slackボタンより参加していただければ、すぐに企画に応募することが可能です！
    </p>
    <a href='' class='p-inquire_btn'>
      <img src='<%=path%>assets/img/icon_slack_c.svg' alt=''>
      三宮.devのslackへ参加する
    </a>
  </article>

  <section class='p-request_detail'>
    <h3 class='p-request_detail_title'>
      参加者からの企画で実現した<br>
      イベントはたくさんあります！
    </h3>
    <ul class='p-request_detail_lists'>
      <li class='p-request_detail_list first'>
        <h4 class='head first'>tenkawaさんの応募企画</h4>
        <p class='title first'>
          最近話題のアイツ!<br>
          Flutterハンズオン
        </p>
      </li>
      <li class='p-request_detail_list second'>
        <h4 class='head second'>Sanadiさんの応募企画</h4>
        <p class='title second'>
          Vue.jsハンズオン
        </p>
      </li>
      <li class='p-request_detail_list third'>
        <h4 class='head third'>Sanadiさんの応募企画</h4>
        <p class='title third'>
          LPサイト制作の<br>
          ロールプレイング
        </p>
      </li>
    </ul>
  </section>
</div>