<div class='p-scrap'>
  <figure class="p-scrap_logo">
    <img src='<%=path%>assets/img/icon_scrap_pc.png' alt='Scrapbox x 三宮.dev' class="u-pc">
    <img src='<%=path%>assets/img/icon_scrap_sp.png' alt='' class="u-sp">
  </figure>

  <div class='p-scrap_detail'>
    <div class='p-scrap_detail_summary'>
      <section class='inner'>
        <h3 class='title'>scrapboxについて</h3>
        <p class='text'>コミュニティの活動で出た知識を一箇所にまとめて、独自のナレッジベースを作るのが目的となります。</p>
      </section>
    </div>

    <ul class="p-scrap_detail_lists">
      <li class="p-scrap_detail_list">
        <h4 class='title'>おすすめ書籍まとめ</h4>
        <p class='text'>各々がおすすめする書籍をテーマごとにまとめています。</p>
        <a href='https://scrapbox.io/sannomiya-dev/%E3%81%8A%E3%81%99%E3%81%99%E3%82%81%E6%9B%B8%E7%B1%8D%E3%81%BE%E3%81%A8%E3%82%81'
          target="_blank" class='c-btn'>詳しく見る</a>
      </li>
      <li class="p-scrap_detail_list">
        <h4 class='title'>2021年版 技術トレンド</h4>
        <p class='text'>2021年に押さえておきたい技術をまとめています。</p>
        <a href='https://scrapbox.io/sannomiya-dev/2021%E5%B9%B4%E7%89%88_%E6%8A%80%E8%A1%93%E3%83%88%E3%83%AC%E3%83%B3%E3%83%89'
          target="_blank" class='c-btn'>詳しく見る</a>
      </li>
      <li class="p-scrap_detail_list">
        <h4 class='title'>gRPC</h4>
        <p class='text'>gRPCについて学んだことのアウトプット記事です。</p>
        <a href='https://scrapbox.io/sannomiya-dev/gRPC' class='c-btn' target="_blank">詳しく見る</a>
      </li>
    </ul>
  </div>
</div>