<div class='p-scrap'>
  <figure class="p-scrap_logo">
    <img src='<%=path%>assets/img/icon_scrap_pc.png' alt='Scrapbox x 三宮.dev' class="u-pc">
    <img src='<%=path%>assets/img/icon_scrap_sp.png' alt='' class="u-sp">
  </figure>

  <div class='p-scrap_detail'>
    <div class='p-scrap_detail_summary'>
      <section class='inner'>
        <h3 class='title'>scrapboxについて</h3>
        <p class='text'>コミュニティの活動で出た知識を一箇所にまとめて、独自のナレッジベースを作るのが目的となります。</p>
      </section>
    </div>

    <ul class="p-scrap_detail_lists">
      <li class="p-scrap_detail_list">
        <h4 class='title'>おすすめ書籍まとめ</h4>
        <p class='text'>各々がおすすめする書籍をテーマごとにまとめています。</p>
        <a href='' class='c-btn'>詳しく見る</a>
      </li>
      <li class="p-scrap_detail_list">
        <h4 class='title'>2021年版 技術トレンド</h4>
        <p class='text'>2021年に押さえておきたい技術をまとめています。</p>
        <a href='' class='c-btn'>詳しく見る</a>
      </li>
      <li class="p-scrap_detail_list">
        <h4 class='title'>gRPC</h4>
        <p class='text'>gRPCについて学んだことのアウトプット記事です。</p>
        <a href='' class='c-btn'>詳しく見る</a>
      </li>
    </ul>
  </div>
</div>