<section id="what" class='p-what'>
  <h2 class='c-head'>三宮.devとは</h2>
  <article class='l-column p-result'>
    <h3 class="l-column_title">数字で見る三宮.dev</h3>
    <img src='<%=path%>assets/img/logo_c.svg' alt='三宮.dev' class="p-result_logo">
    <ul class="p-result_lists">
      <li class='p-result_list'>
        <h4 class='p-result_list_title first'>コミュニティの活動年数</h4>
        <p class="p-result_list_number first">
          <span class='num'>5</span><span class='unit'>年</span>
        </p>
      </li>
      <li class='p-result_list'>
        <h4 class='p-result_list_title second'>これまで開催したイベント数</h4>
        <p class="p-result_list_number second">
          <span class='num'>140</span><span class='unit'>回</span>
        </p>
      </li>
      <li class='p-result_list'>
        <h4 class='p-result_list_title third'>コミュニティへの参加人数</h4>
        <p class="p-result_list_number third">
          <span class='num'>205</span><span class='unit'>人</span>
        </p>
      </li>
    </ul>
  </article>
  <section class='p-what_commu'>
    <h3 class='p-what_commu_title'><span>のびのび活動中の<br class="u-sp">コミュニティです</span></h3>
    <ul class="p-what_commu_lists">
      <li class='p-what_commu_list'>
        <figure class='p-what_commu_image'>
          <img src='<%=path%>assets/img/fig_what1.png' alt='' class="first">
        </figure>
        <p class="p-what_commu_text">
          神戸三宮を拠点に、月１のペースで、もくもく会やLT大会を開催しているIT技術コミュニティです。
        </p>
      </li>
      <li class='p-what_commu_list'>
        <figure class='p-what_commu_image'>
          <img src='<%=path%>assets/img/fig_what2.png' alt='' class="second">
        </figure>
        <p class="p-what_commu_text">
          コミュニテイメンバーの要望に応じて、もくもく会やLT大会の代わりに、特定の技術をテーマとした勉強会も開催しています。
        </p>
      </li>
      <li class='p-what_commu_list'>
        <figure class='p-what_commu_image'>
          <img src='<%=path%>assets/img/fig_what3.png' alt='' class="third">
        </figure>
        <p class='p-what_commu_text'>
          バックエンド～フロントエンドまで色んなモダンなWeb技術を積極的に勉強会のテーマに取り入れています。
          <em>テーマ例：Rails、Flutter、Astro、Svelte.js</em>
        </p>
      </li>
    </ul>
  </section>
</section>