<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('inc/_html_header', {path: ""}) %>
</head>
<body>
  <%- include('inc/_spmenu', {path: ""}) %>
  <%- include('inc/_footer', {path: "" }) %>
</body>
</html>
