@use '../foundation/var' as *;
@use '../foundation/mixin' as *;

.l-footer {
  margin-top: cs(160);
  border-radius: cs($bdrs);
  color: $monoLight;
  background: $gra1;
  text-align: center;
  padding: cs(16) 0;

  font-family: "FOT-UD丸ゴ_ラージ Pr6N U";
  // @include ja("u");
  @include fs(14);
  @include sp {
    margin-top: csp(82);
    border-radius: csp($spBdrs);
    padding: csp(8) 0;
    @include fs(12);
  }
}
