@use '../foundation/var' as var;
@use '../foundation/mixin' as mixin;

.l-spmenu {
  @include mixin.wh(100%, 100%);
  position: fixed;
  top: 0;
  left: 0;
  background: var.$gra1;
  z-index: 99999;
  padding: mixin.csp(60) mixin.csp(63);
  color: var.$monoLight;
  display: none;

  &_links {
    display: flex;
    flex-flow: column;

    &_link {
      display: block;
      text-align: center;
      padding: mixin.csp(20) 0;
      border-bottom: 1px solid var.$monoLight;
      @include mixin.fs(20);
    }
    &_link:nth-child(4) {
        border-bottom: none;
    }

    &_btn {
      img {
        width: mixin.csp(30);
        margin-right: mixin.csp(15);
      }
      margin-top: mixin.csp(33);
      border: 1px solid var.$monoLight;
      border-radius: mixin.csp(var.$spBdrs);
      @include mixin.wh(100%, mixin.csp(58));
      @include mixin.flexCenter(c);
      @include mixin.fs(18);
    }
    &_btn {
      @include mixin.ja("db");
    }
  }
}

.l-spmenu_close {
  text-align: center;
  display: block;
  margin-top: mixin.csp(60);
  @include mixin.fs(18);
}

.l-spmenu_close {
  @include mixin.ja("db");
}

.l-spmenu_close span {
  @include mixin.fs(20);
}

.l-spmenu_close span {
  @include mixin.ja("b");
}
