@use '../../foundation/var' as var;
@use '../../foundation/mixin' as mixin;

.c-btn {
  background: var.$gra2 no-repeat;
  border: 2px solid var.$monoDark;
  border-radius: mixin.cs(var.$bdrs);
  color: var.$monoLight;
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
  padding: mixin.cs(10) mixin.cs(26);
  transform: translateY(50%);
  @include mixin.fs(14);
  @include mixin.btnHover(rgba(var.$monoDark, 0.1));
}

.c-btn {
  @include mixin.ja("db");
}

.c-btn {
  @include mixin.sp {
    border: 1px solid var.$monoDark;
    padding: mixin.csp(10) mixin.csp(26);
    border-radius: mixin.csp(var.$spBdrs);
    @include mixin.fs(14);
  }
}

.c-btn:after {
  content: "";
  margin-left: mixin.cs(10);
  position: relative;
  top: 1px;
  @include mixin.bgImg(mixin.cs(10), mixin.cs(14), "../img/arw_r.svg");
}

.c-btn:after {
  @include mixin.sp {
    margin-left: mixin.csp(16);
    @include mixin.wh(mixin.csp(10), mixin.csp(14));
  }
}
