@use '../../foundation/var' as *;
@use '../../foundation/mixin' as *;

.c-btn {
  background: $gra2 no-repeat;
  border: 2px solid $monoDark;
  border-radius: cs($bdrs);
  color: $monoLight;
  @include fs(14);
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
  @include ja(db);
  padding: cs(10) cs(26);
  transform: translateY(50%);
  @include btnHover(rgba($monoDark, 0.1));

  @include sp {
    border: 1px solid $monoDark;
    @include fs(14);
    padding: csp(10) csp(26);
    border-radius: csp($spBdrs);
  }

  &:after {
    content: "";
    @include bgImg(cs(10), cs(14), "../img/arw_r.svg");
    margin-left: cs(10);
    position: relative;
    top: 1px;

    @include sp {
      @include wh(csp(10), csp(14));
      margin-left: csp(16);
    }
  }
}
