@use '../../foundation/var' as var;
@use '../../foundation/mixin' as mixin;

.c-head {
  color: rgba(var.$monoDark, 0.1);
  margin: 0 auto;
  padding: mixin.cs(160) 0 mixin.cs(90);
  @include mixin.blockCenter(mixin.cs(var.$pcContWidth));
  @include mixin.fs(120);
}

.c-head {
  @include mixin.ja("l");
}

.c-head {
  @include mixin.sp {
    width: 100%;
    padding: mixin.csp(80) 0 mixin.csp(45);
    color: rgba(var.$monoDark, 0.2);
    @include mixin.fs(50);

    &-spS {
      @include mixin.fs(40);
    }
  }
}
