.p-join {
  @include blockCenter(cs($pcContWidth));

  @include sp {
    width: 100%;
  }

  &_reco {
    @include fs(18);
    @include ja(b);
    padding: cs(12) cs(18) cs(12) cs(66);
    border-radius: 100vw;
    display: inline-block;
    position: relative;

    @include sp {
      @include fs_lh(13, 1.6);
      padding: csp(5) csp(22) csp(7) csp(61);
    }

    &:before,
    &:after {
      content: "";
      @include absCenter(v);
    }

    &:before {
      @include wh(cs(44), cs(44));
      border-radius: 100vw;
      left: cs(6);

      @include sp {
        @include wh(csp(44), csp(44));
        left: csp(4);
      }
    }

    &:after {
      @include bgImg(cs(20), cs(20), "../img/icon_thumb.svg");
      left: cs(18);

      @include sp {
        @include wh(csp(19), csp(19));
        left: csp(17);
      }
    }

    &.first {
      @include colorSet(#518e0a, #dbffb2);
      margin-bottom: cs(15);

      @include sp {
        margin-bottom: csp(15);
      }

      &:before {
        background-color: $accentColor2;
      }
    }

    &.second {
      @include colorSet(#1372ad, #d1edff);

      &:before {
        background-color: $accentColor3;
      }
    }
  }

  &_lists {
    margin-top: cs(42);
    display: flex;
    justify-content: space-between;

    @include sp {
      margin-top: csp(20);
      flex-flow: column;
    }
  }

  &_list {
    border: 2px solid $monoDark;
    border-radius: cs($bdrs);
    padding: cs(12);
    width: cs(332);
    background-color: $monoLight;

    @include sp {
      border-width: 1px;
      padding: csp(10);
      width: 100%;
      border-radius: csp($spBdrs);

      &:not(:last-child) {
        margin-bottom: csp(20);
      }
    }

    &_icon {
      height: cs(195);
      @include flexCenter(c);

      @include sp {
        height: csp(200);
      }

      img {
        width: cs(150);

        @include sp {
          width: csp(150);
        }
      }
    }

    &_title {
      padding: cs(18);
      @include fs_lh(21, 1.5);
      @include ja(h);
      text-align: center;
      border-radius: 0 0 cs($bdrs) cs($bdrs);

      @include sp {
        padding: csp(20) 0;
        border-radius: 0 0 csp($spBdrs) csp($spBdrs);
      }

      &.first {
        @include colorSet(#518e0a, #ecffd6);
      }

      &.second {
        @include colorSet($mainColorDark, #fff3ef);
      }

      &.third {
        @include colorSet($accentColor3, #edf8ff);
      }
    }
  }

  &_note {
    margin-top: cs(22);

    @include sp {
      margin-top: csp(20);
    }

    .title {
      font-style: normal;
      @include fs(16);
      @include ja(b);
      display: block;

      @include sp {
        @include fs(13);
      }
    }

    .text {
      @include fs(13);

      @include sp {
        @include fs_lh(10, 2);
        display: block;
        margin-top: csp(6);
      }
    }
  }
}
