@use '../../foundation/var' as var;
@use '../../foundation/mixin' as mixin;

.p-mv {
  background: url(../img/bg_mv_pc.svg) no-repeat bottom center/100%,
    var.$gra1 no-repeat;
  border-radius: mixin.cs(var.$bdrs);
  padding: mixin.cs(30) mixin.cs(30) mixin.cs(54);

  @include mixin.sp {
    padding: mixin.csp(var.$spd) mixin.csp(var.$spd) mixin.csp(38);
    border-radius: mixin.csp(var.$spBdrs);
    background: url(../img/bg_mv_sp.svg) no-repeat top mixin.csp(97) center/100%,
      var.$gra1 no-repeat;
  }
}

.p-mv_header {
  justify-content: space-between;
  margin-bottom: mixin.cs(70);
  @include mixin.flexCenter("v");

  @include mixin.sp {
    margin-bottom: mixin.csp(20);
  }
}

.p-mv_header_logo {
  width: mixin.cs(150);
  @include mixin.rotateHover;

  @include mixin.sp {
    width: mixin.csp(97);
  }
}

.p-mv_header_menubar {
  display: block;
  position: relative;

  span {
    background-color: var.$monoLight;
    height: 1px;
    position: absolute;
    left: mixin.csp(8);

    &:nth-child(1) {
      width: mixin.csp(24);
      top: mixin.csp(16);
    }

    &:nth-child(2) {
      width: mixin.csp(12);
      top: mixin.csp(24);
    }
  }

  @include mixin.wh(mixin.csp(40), mixin.csp(40));
}

.p-mv_header_navs {
  @include mixin.flexCenter("v");
}

.p-mv_header_link {
  margin-left: mixin.cs(30);
  color: var.$monoLight;
  @include mixin.rotateHover;
}

.p-mv_header_btn {
  margin-left: mixin.cs(30);
  border: 1px solid var.$monoLight;
  color: var.$monoLight;
  padding: mixin.cs(12) mixin.cs(24);
  border-radius: mixin.cs(var.$bdrs);
  img {
    width: mixin.cs(24);
    margin-right: mixin.cs(12);
  }

  @include mixin.flexCenter("v");
  @include mixin.btnHover(rgba(var.$monoLight, 0.2));
}

.p-mv_title {
  color: var.$monoLight;
  @include mixin.flexCenter("v");
  @include mixin.ja("l");
  @include mixin.fs_lh(68, 1.47);

  @include mixin.sp {
    display: block;

    &:after {
      clear: both;
      content: "";
      display: block;
    }

    @include mixin.fs_lh(34, 1.6);
  }
}

.p-mv_title:before {
  content: "";
  margin-right: mixin.cs(30);
  @include mixin.bgImg(mixin.cs(168), mixin.cs(168), "../img/fig_badge.svg");

  @include mixin.sp {
    float: left;
    margin-right: mixin.csp(16);
    transform: translateY(mixin.csp(16));
    @include mixin.wh(mixin.csp(86), mixin.csp(86));
  }
}

.p-mv_links {
  margin: 0 auto;
  width: mixin.cs(373);
  display: flex;
  justify-content: center;

  @include mixin.sp {
    width: 100%;
    justify-content: center;
  }
}

.p-mv_links .c-btn {
  padding: mixin.cs(16) mixin.cs(20);

  @include mixin.sp {
    padding: mixin.csp(20);
  }
}

.p-mv_apparel {
  margin: calc(-1 * mixin.cs(50)) 0 0 auto;
  width: mixin.cs(280);
  border: 2px solid var.$monoDark;
  border-radius: mixin.cs(var.$bdrs);
  background-color: rgba(var.$monoLight, 0.7);
  display: flex;
  flex-flow: column;

  @include mixin.sp {
    margin-top: mixin.csp(70);
    width: 100%;
    border-radius: mixin.csp(var.$spBdrs);
    border-width: 1px;
  }
}

.p-mv_apparel:before {
  margin-right: mixin.cs(5);

  @include mixin.sp {
    margin-right: mixin.csp(8);
  }
}

.p-mv_apparel:after {
  margin-left: mixin.cs(5);

  @include mixin.sp {
    margin-left: mixin.csp(8);
  }
}

.p-mv_apparel:before,
.p-mv_apparel:after {
  content: "・";
  @include mixin.ja("b");

  @include mixin.sp {
    @include mixin.ja("l");
  }
}

.p-mv_apparel_title {
  display: inline-flex;
  margin: 0 auto;
  border-radius: 0 0 mixin.cs(var.$bdrs) mixin.cs(var.$bdrs);
  padding: mixin.cs(2) mixin.cs(18) mixin.cs(6);
  @include mixin.colorSet(var.$monoLight, var.$monoDark);
  @include mixin.fs(15);

  @include mixin.sp {
    border-radius: 0 0 mixin.csp(var.$spBdrs) mixin.csp(var.$spBdrs);
    padding: mixin.csp(4) mixin.cs(18) mixin.csp(6);
    @include mixin.fs(12);
  }
}

.p-mv_apparel_image {
  margin-top: mixin.cs(12);
  @include mixin.fs_lh(18, 1.7);

  @include mixin.sp {
    margin-top: mixin.csp(16);
    @include mixin.fs(16);
  }
}
