@use '../../foundation/var' as *;
@use '../../foundation/mixin' as *;

.p-result {
  &_logo {
    margin-bottom: cs(54);

    @include blockCenter(cs(300));
    @include sp {
      margin-top: csp(5);
      margin-bottom: csp(31);
      width: csp(190);
    }
  }

  &_lists {
    display: flex;
    justify-content: space-between;

    @include sp {
      flex-flow: column;
      margin-bottom: csp(15);
    }
  }

  &_list {
    width: cs(240);
    border-radius: cs($bdrs);
    overflow: hidden;

    @include sp {
      border-radius: cs($spBdrs);
      overflow: visible;

      &:not(:last-child) {
        margin-bottom: csp(25);
      }
      @include blockCenter(csp(265));
    }

    &_title {
      padding: cs(12) 0;
      text-align: center;
      color: $monoLight;

      font-family: "FOT-UD丸ゴ_ラージ Pr6N B";
      // @include ja("b");
      @include sp {
        padding: 0;
        transform: translateY(50%);
        font-family: "FOT-UD丸ゴ_ラージ Pr6N DB";
        // @include ja("db");
        @include fs(16);
      }

      &.first {
        background-color: $accentColor2;

        @include sp {
          @include colorSet($accentColor2, transparent);
        }
      }

      &.second {
        background-color: $mainColorDark;

        @include sp {
          @include colorSet($mainColorDark, transparent);
        }
      }

      &.third {
        background-color: $accentColor3;

        @include sp {
          @include colorSet($accentColor3, transparent);
        }
      }
    }

    &_number {
      padding: cs(12) 0 cs(20);
      align-items: flex-end;

      @include flexCenter(h);
      @include sp {
        border-radius: csp($spBdrs);
        padding: csp(20) 0;
      }

      &.first {
        @include colorSet($accentColor2, #f1ffe2);
      }

      &.second {
        @include colorSet($mainColorDark, #fff3ef);
      }

      &.third {
        @include colorSet($accentColor3, #edf8ff);
      }

      .num {
        margin-right: cs(4);
        font-family: "FOT-UD丸ゴ_ラージ Pr6N DB";
        // @include ja("db");
        @include fs_lh(80, 1.3);

        @include sp {
          margin-right: csp(10);
        }
      }

      .unit {
        font-family: "FOT-UD丸ゴ_ラージ Pr6N H";
        // @include ja("h");
        @include fs(29);
      }
    }
  }
}
