@use '../../foundation/var' as *;
@use '../../foundation/mixin' as *;

.p-scrap {
  margin-top: cs(90);
  @include blockCenter(cs($pcContWidth));

  @include sp {
    margin-top: csp(47);
    width: 100%;
  }

  &_logo {
    transform: translateX(cs(14));
    @include blockCenter(cs(676));

    @include sp {
      width: csp(235);
      transform: translateX(0);
    }
  }

  &_detail {
    margin-top: cs(35);

    @include sp {
      margin-top: csp(51);
    }

    &_summary {
      border: 2px solid $monoDark;
      border-radius: cs($bdrs);
      padding: cs(22) cs(35);
      margin-bottom: cs(51);
      position: relative;

      @include blockCenter(cs(500));
      @include sp {
        border: none;
        padding: 0;
        width: csp(305);
        margin-bottom: csp(49);
      }

      &:after {
        content: "";
        bottom: -2px;
        transform: translateY(100%);
        background-color: $monoDark;
        @include absCenter(h);
        @include wh(2px, cs(51));

        @include sp {
          display: none;
        }
      }

      .title {
        text-align: center;
        margin-bottom: cs(22);
        @include fs(24);
        @include ja("e");

        @include sp {
          margin-bottom: csp(28);
          @include fs(20);
        }
      }

      .text {
        @include fs_lh(16, 2.2);
        @include textJustify;

        @include sp {
          @include fs_lh(14, 2);
        }
      }

      .inner {
        position: relative;
        &:before {
          border-top-left-radius: cs($bdrs);
          border-right: none;
          left: cs(-35);
          transform: translateX(-100%);
        }

        &:after {
          border-top-right-radius: cs($bdrs);
          border-left: none;
          right: cs(-35);
          transform: translateX(100%);
        }

        &:before,
        &:after {
          position: absolute;
          top: cs(68);
          border: 2px solid $monoDark;
          content: "";
          border-bottom: none;
          @include wh(cs(124), cs(143));

          @include sp {
            display: none;
          }
        }
      }
    }

    &_lists {
      display: flex;
      justify-content: space-between;

      @include sp {
        flex-flow: column;
        margin-top: csp(-19);
      }
    }

    &_list {
      width: cs(332);
      border-radius: cs($bdrs);
      border: 2px solid $monoDark;
      display: flex;
      flex-flow: column;
      align-items: center;

      .c-btn {
        position: relative;
        z-index: 1;
      }

      @include sp {
        border-width: 1px;
        position: relative;
        border-radius: csp($spBdrs);

        &:first-child {
          &:before {
            height: csp(29);
          }
        }

        &:not(:last-child) {
          margin-bottom: csp(48);
        }

        &:before {
          background-color: $monoDark;
          content: "";
          top: 0;
          transform: translateY(-100%);
          @include absCenter(h);
          @include wh(1px, csp(49));
        }

        @include blockCenter(csp(255));
      }

      .title {
        align-self: start;
        padding: cs(22) cs(30);
        border-top: 10px solid #eaeaea;
        width: 100%;
        border-top-left-radius: cs(calc($bdrs / 2));
        border-top-right-radius: cs(calc($bdrs / 2));
        @include fs(22);
        @include ja("e");

        @include sp {
          border-top-left-radius: csp(calc($spBdrs / 2));
          border-top-right-radius: csp(calc($spBdrs / 2));
          border-width: 5px;
          padding: csp(20) csp(20) csp(10);
          @include fs(16);
          @include ja("e");
        }
      }

      .text {
        padding: 0 cs(30);
        @include fs_lh(16, 2);

        @include sp {
          padding: 0 csp(20);
          @include fs_lh(12, 1.8);
        }
      }
    }
  }
}
